{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood request</title>
<link rel="stylesheet" href="{% static 'css/request.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  body{
    font-family: 'poppins';
    font-size: 300;
    font-style: normal;
  }
  </style>
</head>
<body>
  <header>
    <h1>Blood Donation Management System</h1>
     </header>
<div class="container">
    <h2>Request Blood</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'request_success' %}"><button type="submit">Request Blood</button></a>
    </form>
</div>

</body>
</html>

